.homcard{
    margin: 10px;
    margin-bottom: 100px;
}
.card_iteem{
    display: flex;
    flex-wrap: wrap;
}

.carousel-container {
    position: relative;
    /* min-height: 500px; */
  }
  
  .carousel {
    width: 100%;
    max-height: 400px;
  }
  
  .input-overlay {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
  }
  
  /* .input-group {
    display: inline-block;
  } */
  
  .input-group input {
    width: 55%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
  }
  
  /* .input-group button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  } */
  

