.App {
    text-align: center;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #0b0a0a;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  .logo a{
    text-decoration: none;
    color: #fff;
  }
  .logo span{
    font-size: 2rem;
    color: rgb(131, 151, 28);
    font-weight: 500;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  
  .auth-buttons button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
  }
  .auth-buttons a {
    margin-left: 10px;
    text-decoration: none;
    color: #fff;
    vertical-align: bottom;
  }
  