form h2{
    /* text-align: end; */
    /* margin-right: 100px; */
    color: white;
    letter-spacing: .9px;
    font-weight: 600;
}
.formcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* float: right; */
    justify-content: center;
    height: 80vh;
  }
form {
    background-image: url('../../../public/assets/img/signupbg.webp'); /* Change the path to your image file */
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat; /* Adjust as needed */
     /* Add padding to ensure content is visible */
    text-align: center; /* Center text content within the form container */
  }
  
  input {
    width: 300px;
    border: 1px solid rgb(73, 73, 73);
    border-radius: 4px;
    height: 30px;
    margin: 8px 0px;
    background-color: #1a1a1a;
    color: rgb(187, 186, 186);
  }
  
  
  form textarea,
  form select {
    /* margin-bottom: 10px;
    width: 100%; */
    background-color: #2e1010;
  }
  
  /* Optional: Add more styling to improve the appearance */
  .formcontainer {
    /* max-width: 400px;  */
    margin: auto;
    padding: 25px 0px;
    /* height: 80vh; */
    /* border: 1px solid #ccc;
    border-radius: 5px; */
    background: #0000006c;
  }
  .accbutton button {
    background-color: #4CAF50; /* Green background color, adjust as needed */
    color: white; /* White text color */
    padding: 6px 20px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
    margin-right: 10px;
}
  
  /* Optional: Hover effect */
  .accbutton button:hover {
    background-color: #468948; /* Darker green on hover, adjust as needed */
  }
  .accbutton a{
    color: rgb(246, 246, 246);
    text-decoration: none;
    margin-left: 5px;
    font-size: 1.1rem;
  }
  
  